.article
  background-color: $main-color
  box-shadow: 2px 2px $secondary-color
  &__title
    font-family: $title-font
  &__image
    min-width: 100%
  &:hover
    background-color: $main--color-selected
    cursor: pointer