article
  margin: 30px

main
  @media screen and (min-width: $min-width)


  @media screen and (min-width: $medium-width)
    width: 970px


  @media screen and (min-width: $max-width)
    width: 1170px