article
  margin: 15px
  padding: 15px


main
  @media screen and (min-width: $min-width)
    width: 750px
    article
      width: 41%

  @media screen and (min-width: $medium-width)
    width: 970px
    article
      width: 43%
  @media screen and (min-width: $max-width)
    width: 1170px
    article
      width: 44.7%
  margin: auto