//variables
$text-color: #f9f9f9
$main-color: rgba(75, 75, 75, 0.8)
$main--color-selected: rgba(90, 90, 90, 0.8)
$background-color: #272727
$secondary-color: #e50914
$title-font: "Lato", "Roboto", sans-serif
$main-font: "Roboto", sans-serif

//computer widths
$max-width: '1200px'
$medium-width: '992px'
$min-width: '768px'

//removing unnecessary padding
@import "reset"
@import "popup"

main
  margin: auto 0
  .main__title
    display: inline-block
    border-bottom: $secondary-color 1px solid
  .wrapper
    width: 100%

body
  background-color: $background-color
  color: $text-color
  text-overflow: ellipsis //place at a good spot
  min-height: 100vh
  display: flex
  flex-direction: column

.header
  background-color: $secondary-color
  padding: 2em 0
  width: 100%
  &__title
    font-family: $title-font
    text-align: center
  .title--size-big
    font-size: 55px
  .title--size-medium
    font-size: 30px

.article
  background-color: $main-color
  box-shadow: 2px 2px $secondary-color
  &__title
    font-family: $title-font
  &__image
    min-width: 100%
  &:hover
    background-color: $main--color-selected
    cursor: pointer

footer
  border-top: $main-color 2px solid
  text-align: center
  padding: 20px 0
  .footer__image
    width: 50px
    height: 50px

//screen sizes
@media screen and (min-width: 668px)
  @import "desktop"

@media screen and (max-width: 667px)
  @import "mobile"
